body {
  margin:0;
}


@media (min-width: 767px) {
}


@media (min-width: 1024px) {
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 36px;
  color: #fff;
  background-color: #333;
}